* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(6, 0, 87);
  background-color: rgb(231, 231, 231);
}

/* popup */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 25, 25, 0.5);
}

.popup-form {
  width: 400px;
  border: 1px solid rgb(3, 160, 139);
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  text-align: center;
}

.form__name {
  width: 100%;
  min-height: 25px;
  margin: 15px 0;
  padding: 2px;
  padding-left: 5px;
  border: 1px solid rgb(7, 10, 10);
  border-radius: 3px;
  outline: none;
}

.form__btn {
  width: 70%;
  padding: 7px;
  border: 1px solid rgb(3, 160, 139);
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s;
}

.form__btn:hover {
  border: 1px solid rgb(113, 251, 233);
  background-color: #fff;
}

.popover {
  width: 250px;
  text-align: left;
  position: absolute;
  background-color: rgb(253, 249, 231);
  border: 2px solid red;
  padding: 5px;
  z-index: 999;
}

/* chat box */
.container {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 3rem auto;
  padding: 10px;
  background: url(../img/fon.jpg);
  background-size: cover;
}

ul {
  list-style-type: none;
}
/* chat user */
.chat__users {
  width: 25%;
  height: 300px;
  margin-top: 10px;
  background-color: rgb(245, 255, 151);
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.user__list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.nickname {
  color: rgb(197, 7, 7);
}

.user__logo {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(3, 160, 139);
  border-radius: 50%;
  margin-right: 5px;
  /* background: url(../img/fon.jpg); */
}

/* chat message */
.chat__messages {
  width: 75%;
  height: 500px;
  background-color: rgb(184, 255, 151);
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
}

.messages,
.users {
  overflow-x: hidden;
}

.user__message {
  width: 70%;
  background-color: rgb(220, 250, 207);
  padding: 2px;
  /* border: 1px solid rgb(2, 1, 1); */
  margin: 5px 0;
}

.user {
  margin-left: auto;
}

.user div.message__header {
  text-align: right;
  color: rgb(197, 7, 7);
}

.message__header {
  margin-bottom: 10px;
}

/* chat input */
.chat__input {
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 2px;
  padding-left: 5px;
  margin: 10px 0;
}
